<html>
<head>
<style>
.myDiv {
  border: 2px solid black;
  padding: 30px;
   text-align: center;
   font-size:23px;
   background-color:Tomato;
   color:white
}
</style>
</head>

<body style="background-color:red;">

   <br>
   <br>
   <div class="myDiv"> {{ prediction_text }}</style>
   <br><br>
   
   <h2><u>PREVENTIVE MEASURES:</u></h2>
   <br>
    <p>Keep the source of fire or source of ignition separated from combustible material</p><br>
     <p>Keep the source of fire under watch and control</p><br>
      <p>Do not allow combustible or inflammable material to pile up unnecessarily</p><br>
</div>

</body>
</html>